.chat-conteudo{
    display: grid;
    grid-template-rows: 80px auto 80px;
    padding: 8px;
    height: calc(100vh - 100px);
}

.chat-header{
    text-align: center;
}

.chat-conversa{
    position: relative;
    height: 105%;
    overflow: auto;
}

.chat-mensagem{
    bottom: 0;
    position: relative;
}